@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-900 text-neutral-100
  }
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-6
}

.font-kanit {
  font-family: "Kanit";
  font-weight: 400;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #404040;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #b91c1c;
  border-radius: 14px;
}