@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-900 text-neutral-100
  }
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-6
}

.allerta-stencil {
  font-family: "Allerta Stencil";
  font-weight: 400;
}

.allerta-stencil-title {
  font-family: "Allerta Stencil";
  font-weight: 500;
}

.font-kanit {
  font-family: "Kanit";
  font-weight: 400;
}

.font-kanit-title {
  font-family: "Kanit";
  font-weight: 700;
}

.swiper-wrapper {
  width: 100%;
  height: 100% !important;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.swiper-pagination-bullet {
  background: #FFF;
}

.swiper-pagination-bullet-active {
  background: #FFF !important;
}


*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #404040;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #65A30D;
  border-radius: 14px;
}