@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-900 text-neutral-100
  }
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-6
}

.allerta-stencil {
  font-family: "Allerta Stencil";
  font-weight: 400;
}

.allerta-stencil-title {
  font-family: "Allerta Stencil";
  font-weight: 500;
}

.font-kanit {
  font-family: "Kanit";
  font-weight: 400;
}

.font-kanit-title {
  font-family: "Kanit";
  font-weight: 700;
}

.swiper-wrapper {
  width: 100%;
  height: 100% !important;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.swiper-pagination-bullet {
  background: #FFF;
}

.swiper-pagination-bullet-active {
  background: #FFF !important;
}

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #5ea500;
  box-shadow: 0 0 0 2px #5ea500;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #5ea500;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: #5ea500;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #5ea500;
}

.animated-button:hover .circle {
  width: 400px;
  height: 400px;
  opacity: 1;
}



*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #404040;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #65A30D;
  border-radius: 14px;
}